asgiref
CacheControl
cachetools
certifi
cffi
charset-normalizer
click
cryptography
Deprecated
dj-database-url
Django
django-heroku
django-storages
firebase
firebase-admin
gcloud
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
gunicorn
h11
httplib2
idna
jwcrypto
jws
msgpack
oauth2client
Pillow
proto-plus
protobuf
psycopg2
pyasn1
pyasn1-modules
pycparser
pycryptodome
pyparsing
python-dateutil
python-jwt
requests
requests-toolbelt
rsa
six
sqlparse
unicorn
uritemplate
urllib3
whitenoise
wrapt
