
section {
  &.intro {
    height: 30rem;
    color: white;
    display: grid;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;


    & > div {
      background-color: rgba(0, 0, 0, .8);
      height: 100%;
      width: 100%;
      text-align: center;

      & > * {
        position: relative;
        top: 50%;
      }

      a {

        margin: 1rem auto;
      }
    }
  }

  &.feed {
    background-color: wheat;
    width: 100%;

    .feed-con {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, max-content));
      grid-gap: 16px;
      justify-content: center;
      width: 100%;
      padding: 20px;
    }

    a {
      all: unset;
      margin-left: auto;
      margin-right: auto;
      cursor: pointer;
    }

    .card {
      background-color: white;
      box-shadow: 0 4px 10px 1px black;
      width: 400px;
      height: 100%;
      border-radius: 10px;
      padding: 1rem;
      text-align: center;
      &:hover{
        transform:scale(101%);
      }
      .card-img-con{
        width: calc(100% - 1rem);
        height: 200px;
      }
      h1 {
        margin-top: 5px;
        margin-bottom: 5px;
      }

      p {
        color: rgba(0, 0, 0, 0.8);
        word-wrap: anywhere;
      }

      img {
        border-radius: .4rem;
        max-width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        object-position: center;
        -o-object-position: center;
      }

    }
  }
}


