*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bars {
  display: none;
}

#check {
  display: none
}

.navbar {
  background-color: darkslategrey;
  padding: 10px;
  color: white;
  z-index: 1000;

  position:sticky;
  top: 0;

  h1 {
    span {
      padding: 5px;
      border-radius: 10px;
      background-color: white;
      color: darkslategrey;

    }
  }

  .navbar-con {
    display: flex;
    justify-content: space-between;
    align-items: center;


    .nav-items {
      display: flex;
      gap: 20px;
        z-index: 1000;

    }

    .btn {
      all: unset;
      padding: 5px;
      border: 1px solid white;
      color: white;
      border-radius: 5px;
      text-decoration: none;
      box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 1);
      transition: all 250ms ease-in-out;


      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 5px 2px -10px rgba(0, 0, 0, 1);
      }

      &.link-logout {
        color: red;
        border: 1px solid red;

        &:hover {
          background-color: red;
          color: white;

        }
      }
    }

  }

}

@media (max-width: 887px) {
  .navbar .navbar-con h1 {
    text-align: center;
  }

  .bars {
    display: block;

  }
  #check:checked ~ .nav-items {
    left: 0;
    opacity: 1;
    border-radius: 0;

  }
  .navbar .navbar-con .nav-items {

    display: block;
    position: absolute;
    top: 3.6rem;
    left: -110%;
    right: 0;
    height: 100vh;
    width: 100%;
    background-color: rebeccapurple;
    opacity: .5;
    border-bottom-right-radius: 100rem;
    transition: all 250ms ease-in-out;

    .btn {
      all: unset;
      color: white;
      display: block;
      padding: 20px;

      text-align: center;
      text-decoration: none;
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, .3);


      &:hover {
        background-color: whitesmoke;
        color: black;

      }

      &.link-logout {
        color: red;
        font-size: 2rem;
        padding: 1rem;

        &:hover {
          color: white;
          opacity: 1;
          background-color: red;

        }
      }
    }
  }
}