{% extends 'blog/base.html' %}
{% load static %}

{% block extrahead %}
<script src="https://cdn.tiny.cloud/1/vvnjdihxjvesyvkw33xlcxniivipwdkyyj0yj9ha3xsqbj5g/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>    <script src="{% static 'blog/js/mice.js' %}" type="module"></script>
    <link rel="stylesheet" href="{% static 'blog/css/post_form.css' %}"/>

{% endblock %}

{% block content %}
    {% if post %}
        <div class="post-form-con">
            <form action="{% url 'addpost' %}" method="post" class="postform" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="post-form-grid">
                    <div class="g-1"><label for="id_title">{{ post.title.label }}</label>{{ post.title }}</div>
                    <div class="g-2"><label for="id_logo"><i class="fa fa-add fa-3x"></i> </label><div>{{ post.logo }}</div><p id="img_name">Cover Image</p></div>
                    <div class="g-4">  {{ post.Post }}</div>
                    <div class="submit-post-btn"><button class="sub-btn">Click here to Post</button></div>
                </div>

            </form>
        </div>
    {% endif %}
{% endblock %}