<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% block extrahead %}
    {% endblock %}
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{% static '/blog/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/base.css' %}">
    <script src="{% static '/blog/js/nav.js' %}" defer></script>
    <meta charset="UTF-8">
    <title>JojoThomas</title>
</head>
<body>
{% include 'blog/navbar.html' %}
{% block content %}
{% endblock %}

</body>
</html>