{% extends 'blog/base.html' %}

{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static "/blog/css/index.css" %}">
{% endblock %}

{% block content %}
  {% if is_admin %}
      <div style="background:rgba(0,0,0,.6)">
          <a href="/admin/" class="btn" style="margin-inline:auto; color:white;">admin panel</a>
      </div>
  {% endif %}
    <section class="intro" >
        <div class="container">
            <h1>
                Jojo's Page
            </h1>
            <h3>Interact and Connect</h3>

            <p>to know more about us </p>
            <a href="#" class="btn"> click here</a>
        </div>
    </section>
    <section class="feed">
        <div class="feed-con container">
{#            <a href="#">#}
{#                <div class="card">#}
{#                    <h4 class="card-header">Header</h4>#}
{#                    <div class="">#}
{#                        <img src="{% static "blog/images/cool.jpg" %}" alt="no picture">#}
{#                        <p class="">this is a summary</p>#}
{#                        <sub class="">Forex</sub>#}
{#                    </div>#}
{#                </div>#}
{#            </a>#}
{#            <a href="#">#}
{#                <div class="card">#}
{#                    <h4 class="card-header">Header</h4>#}
{#                    <div class="">#}
{#                        <img src="{% static "blog/images/cool.jpg" %}" alt="no picture">#}
{#                        <p class="">this is a summary</p>#}
{#                        <sub class="">Forex</sub>#}
{#                    </div>#}
{#                </div>#}
{#            </a>#}


            {% for post in posts %}
              <a href="{% url "post" post.id %}">
                <div class="card">
                    <h4 class="card-header">{{ post.title }}</h4>
                    <div class="">
                        <img src="{% if post.logo %}{{ post.logo.url }}{% else %} {% static 'blog/images/cool.jpg' %}{% endif %}" alt="no picture">
                        <p class="">{{ post.summary }}</p>

                        <sub class="">{{ post.pub_date }} {{ post.pub_time }}</sub>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </section>

{% endblock %}
