{% extends 'blog/base.html' %}

{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static "/blog/css/index.css" %}">
    <script src="{% static 'blog/js/index.js' %}" defer></script>
{% endblock %}

{% block content %}
    {% if is_admin %}
        <div style="background:rgba(0,0,0,.6)">
            <a href="/admin/" class="btn" style="margin-inline:auto; color:white;">admin panel</a>
        </div>
    {% endif %}
    <section class="intro" style="background-image:url('{% static 'blog/images/yikr9jXET.jpg' %}')">
        <div class="container">
            <h1>
                Jojo's Page
            </h1>
            <h3>Interact and Connect</h3>

            <p>to know more about us </p>
            <a href="{% url 'about' %}" class="btn"> click here</a>
        </div>
    </section>
    <section class="feed">
        <div class="center-container">
            <div class="feed-con container">
                {% for post in posts %}
                    <div class="card">
                        {% if post.Author == postOwner %}
                            <i class="opt-icon fa fa-bars"></i>
                            <div class="option" style="display: none">
                                <button class="option-items" id="delete-post" data-postId="{{ post.id }}">
                                    delete post
                                </button>
                                <button class="option-items" id="edit-post" data-postId="{{ post.id }}">
                                    Edit post
                                </button>
                            </div>
                        {% endif %}
                        <a href="{% url "post" post.id %}">
                            <h4 class="card-header">{{ post.title }}</h4>
                            <div class="card-img-con">
                                <img src="



                                        {% if post.logo %}{{ post.logo.url }}{% else %} {% static 'blog/images/cool.jpg' %}{% endif %}"
                                     alt="no picture">
                            </div>
                            <sub class="">{{ post.pub_date }} {{ post.pub_time }}</sub>
                            <p><sub class="">Author: {{ post.Author }} </sub></p>

                        </a>
                    </div>
                {% endfor %}
            </div>

        </div>
    </section>

{% endblock %}
