<div class="navbar">
    <div class="navbar-con ">
        <h1> Jojo's <span>Page</span></h1>

        <nav class="">
            <label for="check"> <i class="fa fa-bars fa-2x bars" data-navbars></i>
            </label>
            <input type="checkbox" id="check">
            <ul class="nav-items">
                <a href="#" class="btn link-btn">Home</a>
                <a href="#" class="btn link-btn">Home</a>
                <a href="{% url 'logout' %}" class="btn link-logout"><i class="fas fa-door-open"></i> </a>

            </ul>
        </nav>

    </div>

</div>