{% load static %}
<section class="posts">
<h1 class="posts-page-heading">Post</h1>
    <div class="post-con">
        {% for post in posts %}
            <a href="{% url "post" post.id %}">
                <div class="card">
                    <h4 class="card-header">{{ post.title }}</h4>
                    <div class="card-img-con">
                        <img src="
                                {% if post.logo %}{{ post.logo.url }}{% else %} {% static 'blog/images/cool.jpg' %}{% endif %}"
                             alt="no picture">
                    </div>
                    <p class="">{{ post.summary }}</p>

                    <sub class="">{{ post.pub_date }} {{ post.pub_time }}</sub>

                </div>
            </a>
        {% endfor %}
    </div>
    </div>
</section>